*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    justify-content: center;
    padding: 100px;

}
.lollipop{

    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
    border: 3px solid black;
   
    
}

.stick{
    width: 50px;
    height: 80px;
    background: yellow;
    border: 3px solid black;


}